<div class="container mt-4">
  <div class="row justify-content-center">
    <h1 >Quality Control</h1>
<div class="col-md-6">
  

 <!-- <p class="text-center text-muted">Follow the steps below to perform quality control on your FASTQ files:</p>
  <div class="instruction-list">
    <h4><strong>- Select a file:</strong> Choose a FASTQ file from the list below.</h4>
    <h4><strong>- Analyze:</strong> Click the "Analyze" button to start the quality control process.</h4>
    <h4><strong>- Monitor progress:</strong> Watch the progress bar for the status of the analysis.</h4>
    <h4><strong>- Check results:</strong> Review the message and reports after completion.</h4>
  </div>-->
</div>
</div>
</div>


<div class="quality-control-container">


  <h3>FASTQ Files:</h3>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div *ngIf="message" class="alert alert-success mt-3">
    {{ message }}
  </div>
  <ul>
    <li *ngFor="let file of fastqFiles">
      <span class="file-name">{{ file.file_name }}</span>
      <button (click)="performQualityControl(file.file_name)" [disabled]="isLoading">Analyze</button>



    </li>
  </ul>
  
  <div *ngIf="isLoading">
    <div class="loading">Performing Quality Control...</div>
    <div class="progress mt-3">
      <div class="progress-bar" role="progressbar" [style.width.%]="progress" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
    </div>
  </div>


</div>
