<div class="background"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg mt-5">
        <div class="card-body">
          <h2 class="text-center mb-4">Change Password</h2>
          <hr>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="currentPassword">Current Password</label>
              <input id="currentPassword" type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors }" />
              <div *ngIf="submitted && f['currentPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['currentPassword'].errors['required']">Current Password is required</div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="newPassword">New Password</label>
              <input id="newPassword" type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }" />
              <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['newPassword'].errors['required']">New Password is required</div>
                <div *ngIf="f['newPassword'].errors['minlength']">New Password must be at least 8 characters</div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="confirmPassword">Confirm Password</label>
              <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
              <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                <div *ngIf="f['confirmPassword'].errors['minlength']">Confirm Password must be at least 8 characters</div>
                <div *ngIf="f['confirmPassword'].errors['mismatch']">Passwords do not match</div>
              </div>
            </div>

            <div class="form-group mb-3">
              <button type="submit" class="btn btn-dark col-12">Change Password</button>
            </div>

            <hr>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
