<div class="row">
  <div class="col-md-4 offset-md-4">
    <br>
      <h2>Delete Account</h2>
      <hr>
      <p>Are you sure you want to delete your account? This action cannot be undone.</p>
      <br>
      <button class="btn btn-danger col-12" (click)="onDelete()">      <i class="fas fa-trash-alt icon"></i> Delete Account</button>
      <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </div>
    
</div>
